

#main-heading {
    text-align: center;
}


#pagetwo {
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/888/793/desktop-wallpaper-anime-drinking-coffee-coffee.jpg");
    background-size: cover;
}

#pageone {
    background-image: url("https://images.wallpaperscraft.com/image/single/drink_mask_robocop_92182_1920x1080.jpg");
    background-size: cover;
}
